<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
                "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.fantai.dao.UserInfoMapper">

<!-- findById -->
<select id="findById" parameterType="string" resultType="com.fantai.entity.UserInfo">
    select u.ui_id,u.ui_name, u.ui_pwd
    from userinfo u where ui_id = #{id}
</select>

<!-- findByThing -->
<select id="findByThing" resultType="com.fantai.entity.UserInfo">
    select u.ui_id,u.ui_name, u.ui_pwd
    from userinfo u
</select>

</mapper>